{%load humanize%}
{%load dndfilters%}
<div class="topbar"> {{name|upper}} <span class="right">CR {{CRText}}</span></div>
<div class="blocktext">
  <p>XP {{XP|intcomma}}</p>
  <p>{{alignment}} {{size}} {{type}}</p>
  <p>
    <b>Init</b> {{initiative|bonus}};
    <b>Senses</b>
     {% if lowlight %} low-light vision {% endif %}
     {% if darkvision %} darkvision {{darkvision}} ft {% endif %}
     {% if scent %} scent {% endif %}
     {% if blindsight %} blindsight {{blindsight}} ft {% endif %}
     Perception: {{perception|bonus}}
  </p>
</div>
